{% extends 'cadastro/base.html' %}

{% block conteudo %}

    <h2>{{ total }} Pessoas Cadastradas</h2>

    <div class="cards-container">

        {% for pessoa in pessoas %}
        <a href="{% url 'detalhe' pessoa.id %}" class="card-link">
            <div class="card-persona">

                <div class="card-avatar">
                    {{ pessoa.nome|first|upper }}
                </div>

                <div class="card-info">
                    <h3>{{ pessoa.nome }}</h3>
                    <p>{{ pessoa.email }}</p>
                </div>
               
            </div>
        </a> 
        {% empty %}

        <p>Ninguém está cadastrado.</p>

        {% endfor %}

    </div>

{% endblock %}